@tailwind base;
@tailwind components;
@tailwind utilities;


/* .paginationBttns a {
    background-color: yellow;
} */

@media screen and ( min-width: 280px) and (max-width:300px){
    .between_price {
        flex-direction: column !important;
        
        
    }
    .price{
        align-self: flex-start;
        margin-top: .5em;
        margin-left: 8px;
    }
  }

  @layer components {
  
    .th{
        @apply border-[#a1a1a1] dark:border-white border-r dark:text-white py-2
        }
        .th1{
            @apply border-[#a1a1a1] dark:border-white border-r text-[#8f8f8f] dark:text-[#c7c7c7] py-2 
        }
  }

  td, th {
   
    text-align: center;
}